= render "shared/errors", obj: @staff
= form_for @staff , :html => {:class => 'form-horizontal', role: 'form'} do |f|
  .form-row
    .row
      .col-md-6
        .mb-3
          = f.label :first_name, {class:'form-label'}
          = f.text_field :first_name, {class:'form-control', placeholder: 'First name'}
      .col-md-6
        .mb-3
          = f.label :last_name, {class:'form-label'}
          = f.text_field :last_name, {class:'form-control', placeholder: 'Last name'}
    = f.submit :class => "btn btn-primary"