= render "shared/errors", obj: @deployment_order
%div
  = form_for @deployment_order , :html => {:class => 'form-horizontal', role: 'form'} do |f|
    .row
      .col-md-3
        .mb-3
          = f.label :date_of_duty, "Date of Duty", {class:'form-label'}
          = f.text_field :date_of_duty, {class:'form-control', placeholder: 'Date of Duty', type: 'date'}
      .col-md-3
        .mb-3
          = f.label :rig_id, "Rig Name", {class:'form-label'}
          = f.select :rig_id, @rigs, {}, {class: "form-select"}
      .col-md-3
        .mb-3
          = f.label :well_name, "Well", {class:'form-label'}
          = f.text_field :well_name, {class:'form-control', placeholder: 'Well'}
      .col-md-3
        .mb-3
          - time = @deployment_order.departure_time.present? ? @deployment_order.departure_time : Time.now
          = f.label :departure_time, "Departure time", {class:'form-label datepicker'}
          = f.text_field :departure_time, {class:'form-control', placeholder: 'Date of Duty', type: 'time', value: time.strftime("%k:%M")}
    .row
      .col-md-3
        .mb-3
          = f.label :job_id, "Job", {class:'form-label'}
          = f.select :job_id, @jobs, {}, {class: "form-select"}
    %h4 Unit Deployed
    = f.fields_for :unit_deployeds do |builder|
      = render 'unit_deployed', f: builder
    .unit_deployed
    .row
      .col
        .mb-3
          = link_to_add_row('Add unit deployed', 'unit_deployed', f, :unit_deployeds, class: 'button')
    %h4 Cement Unit Deployed
    = f.fields_for :cement_unit_deployeds do |builder|
      = render 'cement_unit_deployed', f: builder
    .cement_unit
    .row
      .col
        .mb-3
          = link_to_add_row('Add Cement Unit', 'cement_unit', f, :cement_unit_deployeds, class: 'button')
    %h4 Head Party
    .row.head_party
      = f.fields_for :head_parties do |builder|
        = render 'head_party', f: builder
    .row
      .col
        .mb-3
          = link_to_add_row('Add Head party', 'head_party', f, :head_parties, class: 'button')

    %h4 Main Party
    .row.main_party
      = f.fields_for :main_parties do |builder|
        = render 'main_party', f: builder
    .row
      .col
        .mb-3
          = link_to_add_row('Add main party', 'main_party', f, :main_parties, class: 'button')
    %h4 Light vehicals
    .row.light_vehical
      = f.fields_for :light_vehicals do |builder|
        = render 'light_vehical', f: builder
    .row
      .col
        .mb-3
          = link_to_add_row('Add light vehical', 'light_vehical', f, :light_vehicals, class: 'button')
    %h4 Job I/C
    .row.job_incharge
      = f.fields_for :job_incharges do |builder|
        = render 'job_incharge', f: builder
    .row
      .col
        .mb-3
          = link_to_add_row('Add Job I/C', 'job_incharge', f, :job_incharges, class: 'button')
    .row
      .col-md-3
        .mb-3
          = f.label :route, "Route", {class:'form-label'}
          = f.text_field :route, {class:'form-control', placeholder: 'Route'}
      .col-md-3
        .mb-3
          = f.label :d_site_contact_no, "D/Site Contact no", {class:'form-label'}
          = f.text_field :d_site_contact_no, {class:'form-control', placeholder: 'D/Site Contact no'}
      .col-md-9
        .mb-3
          = f.label :special_instruction, "Special instruction", {class:'form-label datepicker'}
          = f.text_area :special_instruction, {class:'form-control', placeholder: 'Special instruction'}
    = f.submit :class => "btn btn-primary"

:javascript
  $('form').on('click', '.remove_record', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('.row').hide();
    return event.preventDefault();
  });

  $('form').on('click', '.remove_record_hor', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('.row').parent().hide();
    return event.preventDefault();
  });

  $('form').on('click', '.add_fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    var classname = $(this).data('classname')
    $('.'+classname).append($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });