.row
  .col-md-3
    .mb-3
      = f.label :vehicle_name, {class:'form-label'}
      = f.text_field :vehicle_name, {class:'form-control', placeholder: 'Vehicle name'}
  .col-md-2
    .mb-3.delete
      = link_to '#', class: 'remove_record_unit' do
        %i.far.fa-times-circle
      = f.hidden_field :_destroy
.row.staff_deployed
  = f.fields_for :unit_deployed_staffs do |e|
    .col-md-4
      .row
        .col-md-10
          .mb-3
            = e.label :staff_id, "Staff Name", {class:'form-label'}
            = e.select :staff_id, @staffs, {:prompt => 'Select'}, {class: "form-select" }
        .col-md-2
          .mb-3.delete
            = link_to '#', class: 'remove_record_hor' do
              %i.far.fa-times-circle
            = e.hidden_field :_destroy

.row
  .col
    .mb-3	
      = link_to_add_row('Add Staff', 'staff_deployed', f, :unit_deployed_staffs, class: 'button')