%h1 Deployment order
%hr
.row
  .col-md-4
    %label.form-label.fw-bold Date of Duty :
    = @deployment_order.date_of_duty
  .col-md-4
    %label.form-label.fw-bold Rig :
    = @deployment_order.rig.rig_name
  .col-md-4
    %label.form-label.fw-bold Well :
    = @deployment_order.well_name

.row
  .col-md-12
    %label.form-label.fw-bold Job :
    = @deployment_order.job.name
.row
  .col-md-12
    %label.form-label.fw-bold Departure time :
    = @deployment_order.departure_time.strftime("%I:%M %p")
.row
  .col-md-12
    %table.table.table-bordered
      %thead
        %tr
          %th{:scope => "col"} Vehicle
          %th{:scope => "col", :colspan => "3"} Crew Deployed

      %tbody
        - @deployment_order.unit_deployeds.each do |unit_deployed|
          %tr
            %th{:scope => "row"}= unit_deployed.vehicle_name
            %td= fullname(unit_deployed.unit_deployed_staffs[0].staff)
            %td= fullname(unit_deployed.unit_deployed_staffs[1].staff) rescue "-"
            %td= fullname(unit_deployed.unit_deployed_staffs[2].staff) rescue "-"
            %td= fullname(unit_deployed.unit_deployed_staffs[3].staff) rescue "-"
        - @deployment_order.cement_unit_deployeds.each do |cement|
          %tr
            %th{:scope => "row"}= cement.vehicle_name
            %td= cement.quantity
            %td -
            %td -
            %td -
.row
  .col-md-12
    %table.table.table-bordered
      %tbody
        %tr
          %th{:scope => "col"} Head Party
          - @deployment_order.head_parties.each do |party|
            %td= fullname(party.staff)
.row
  .col-md-12
    %table.table.table-bordered
      %tbody
        %tr
          %th{:scope => "col"} Main Party
          - @deployment_order.main_parties.each do |party|
            %td= fullname(party.staff)
.row
  .col-md-12
    %table.table.table-bordered
      %tbody
        %tr
          %th{:scope => "col"} Light Vehical
          - @deployment_order.light_vehicals.each do |vehical|
            %td= vehical.vehical_no
.row
  .col-md-12
    %label.form-label.fw-bold Job I/C :
    - @deployment_order.job_incharges.each do |job_incharge|
      = fullname(job_incharge.staff)
      ,
  .col-md-12
    %label.form-label.fw-bold Route :
    = @deployment_order.route
  .col-md-12
    %label.form-label.fw-bold D/Site Contact no :
    = @deployment_order.d_site_contact_no
  .col-md-12
    %label.form-label.fw-bold Special instruction :
    = @deployment_order.special_instruction
  
