%header.p-3.mb-3.border-bottom
  .container
    .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
      %a.d-flex.align-items-center.mb-2.mb-lg-0.text-dark.text-decoration-none{:href => "/"}
        = image_tag image_url('logo.png'), size: "50"
      - if current_user
        %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Deploymnet Order
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to('New Deployment', new_deployment_order_path, class:"dropdown-item")
              %li
                = link_to('List Deployment', deployment_orders_path, class:"dropdown-item")
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Rig
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to('New Rig', new_rig_path, class:"dropdown-item")
              %li
                = link_to('List Rig', rigs_path, class:"dropdown-item")
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Job
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to('New Job', new_job_path, class:"dropdown-item")
              %li
                = link_to('List Job', jobs_path, class:"dropdown-item")
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Staff
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to('New Staff', new_staff_path, class:"dropdown-item")
              %li
                = link_to('List Staff', staffs_path, class:"dropdown-item")
                
        .dropdown.text-end
          %a#dropdownUser1.d-block.link-dark.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"}
            %img.rounded-circle{:alt => "mdo", :height => "32", :src => "https://github.com/mdo.png", :width => "32"}/
          %ul.dropdown-menu.text-small{"aria-labelledby" => "dropdownUser1", :style => ""}
            -# %li
            -#   %a.dropdown-item{:href => "#"} Profile
            %li
              %hr.dropdown-divider/
            %li
              = link_to('Sign out', destroy_user_session_path, method: :delete, class:"dropdown-item")