= render "shared/errors", obj: @rig
= form_for @rig , :html => {:class => 'form-horizontal', role: 'form'} do |f|
  .form-row
    .mb-3
      = f.label :rig_name, "Rig", {class:'form-label'}
      = f.text_field :rig_name, {class:'form-control', placeholder: 'Rig'}
    = f.submit :class => "btn btn-primary"